<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitReport</servlet-name>
        <servlet-class>za.ac.tut.web.submitReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSignUpServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StaffSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStudentReport</servlet-name>
        <servlet-class>viewStudentReport.viewStudentReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportByStudent</servlet-name>
        <servlet-class>za.ac.tut.web.ViewReportByStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReportServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllReportServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitReport</servlet-name>
        <url-pattern>/submitReport.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>javax.ejb.EJBException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserProfileServlet</servlet-name>
        <url-pattern>/EditUserProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSignUpServlet</servlet-name>
        <url-pattern>/StaffSignUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStudentReport</servlet-name>
        <url-pattern>/viewStudentReport.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportByStudent</servlet-name>
        <url-pattern>/ViewReportByStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReportServlet</servlet-name>
        <url-pattern>/UpdateReportServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllReportServlet</servlet-name>
        <url-pattern>/ViewAllReportServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
